table {
    width:100%;
  }
  table tr:nth-child(even) {
    background-color: #eee;
  }
  table tr:nth-child(odd) {
   background-color: #fff;
  }
  table th {
    background-color: black;
    color: white;
  }