<div class="container">
    <div class="panel panel-primary">
      <div class="panel-heading">Liste des Produits</div>
      <div class="panel-body">
      <button class="btn btn-primary" (click)="ngGetproduits()">Produits</button>
    </div>
  
    <div class="panel-body">
     <table *ngIf="produits">
  <tr>
  
    <th>ID</th><th>designation</th><th>description</th><th>Quantié</th><th>prix</th>
  </tr>
  
  <tr *ngFor="let p of produits">
  
      <td>{{p.id}}</td>
     <td>{{p.designation}}</td>
    <td>{{p.description}}</td>
    <td>{{p.quantity}}</td>
    <td>{{p.price}}</td>
  </tr>
  
    
  </table>
  
  
    </div>
  
  </div>
  
  </div>